MaqFat_JSON.txt
[
    {
        "id": "e040834286276476",
        "type": "tab",
        "label": "Maquina_fatiga",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8803500cca206c47",
        "type": "mqtt in",
        "z": "e040834286276476",
        "name": "",
        "topic": "maquina_fatiga/datos",
        "qos": "2",
        "datatype": "auto",
        "broker": "aa3107cbb6f29f72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "70dde1c633b2586a"
            ]
        ]
    },
    {
        "id": "6d3bcb95979a80f7",
        "type": "ui_text",
        "z": "e040834286276476",
        "group": "476e07a119656590",
        "order": 1,
        "width": "8",
        "height": "3",
        "name": "",
        "label": "Carga",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "70dde1c633b2586a",
        "type": "json",
        "z": "e040834286276476",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "cc49d48e773bd2aa",
                "8f2fe272328b907f",
                "d029c683e43fa6e1",
                "56d0eb9f58f12fc7",
                "eb3baa562bd9e848",
                "cd80e2ac23e7f986"
            ]
        ]
    },
    {
        "id": "cc49d48e773bd2aa",
        "type": "function",
        "z": "e040834286276476",
        "name": "Carga",
        "func": "global.set(\"carga\",parseFloat(msg.payload.carga));\nmsg.topic = \"Carga\";\nmsg.payload = msg.payload.carga;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 200,
        "wires": [
            [
                "6d3bcb95979a80f7",
                "2f217a674dd4d6a6"
            ]
        ]
    },
    {
        "id": "8f2fe272328b907f",
        "type": "function",
        "z": "e040834286276476",
        "name": "Velocidad",
        "func": "global.set(\"velocidad\",parseInt(msg.payload.velocidad));\nmsg.topic = \"Velocidad\";\nmsg.payload = msg.payload.velocidad;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "a059bd9916f33695",
                "2f217a674dd4d6a6"
            ]
        ]
    },
    {
        "id": "a059bd9916f33695",
        "type": "ui_text",
        "z": "e040834286276476",
        "group": "476e07a119656590",
        "order": 2,
        "width": "8",
        "height": "3",
        "name": "",
        "label": "Velocidad",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 500,
        "y": 280,
        "wires": []
    },
    {
        "id": "d029c683e43fa6e1",
        "type": "function",
        "z": "e040834286276476",
        "name": "Número de vueltas",
        "func": "global.set(\"no_vueltas\",parseInt(msg.payload.no_vueltas));\nmsg.payload = msg.payload.no_vueltas;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 360,
        "wires": [
            [
                "643b6bb138435cf0"
            ]
        ]
    },
    {
        "id": "643b6bb138435cf0",
        "type": "ui_text",
        "z": "e040834286276476",
        "group": "476e07a119656590",
        "order": 3,
        "width": "8",
        "height": "3",
        "name": "",
        "label": "Número de vueltas",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "56d0eb9f58f12fc7",
        "type": "function",
        "z": "e040834286276476",
        "name": "Estado",
        "func": "\nif (msg.payload.estado == 0){\n    msg.payload = \"En proceso\";\n}\nelse if (msg.payload.estado == 1){\n    msg.payload = \"Prueba terminada\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 440,
        "wires": [
            [
                "341168d214b69eea"
            ]
        ]
    },
    {
        "id": "341168d214b69eea",
        "type": "ui_text",
        "z": "e040834286276476",
        "group": "476e07a119656590",
        "order": 3,
        "width": "8",
        "height": "3",
        "name": "",
        "label": "Estado del experimento",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "94956937056768d0",
        "type": "ui_template",
        "z": "e040834286276476",
        "group": "25ebfaf0e4d26aa0",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <img src = http://192.168.0.20:8081 width = \"640\" height = \"480\" >\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 470,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3cb1d6135c3a735a",
        "type": "mysql",
        "z": "e040834286276476",
        "mydb": "5985bd1225719007",
        "name": "Base de datos",
        "x": 940,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "eb3baa562bd9e848",
        "type": "function",
        "z": "e040834286276476",
        "name": "",
        "func": "var datos_db = {}\n\nif (msg.payload.estado == 1){\n    msg.topic=\"INSERT INTO prueba (fecha,carga,velocidad,no_vueltas) VALUES (CURRENT_TIMESTAMP(),'\"+global.get(\"carga\")+\"','\"+global.get(\"velocidad\")+\"','\"+global.get(\"no_vueltas\")+\"')\";\n    datos_db.Carga = parseFloat(global.get(\"carga\"));\n    datos_db.Velocidad = parseInt(global.get(\"velocidad\"));\n    datos_db.No_vueltas = parseInt(global.get(\"no_vueltas\"));\n    msg.payload = datos_db;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 240,
        "wires": [
            [
                "3cb1d6135c3a735a",
                "16bcc8dc0a672443"
            ]
        ]
    },
    {
        "id": "f82ce123da1280e2",
        "type": "ui_button",
        "z": "e040834286276476",
        "name": "",
        "group": "a78c5e5e553c4417",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Inicia prueba",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "82ca183b1e641d86"
            ]
        ]
    },
    {
        "id": "82ca183b1e641d86",
        "type": "mqtt out",
        "z": "e040834286276476",
        "name": "",
        "topic": "maquina/arranque",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aa3107cbb6f29f72",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "8b34f2be19b615e7",
        "type": "ui_slider",
        "z": "e040834286276476",
        "name": "",
        "label": "Ajuste de velocidad del motor",
        "tooltip": "",
        "group": "a78c5e5e553c4417",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": "1",
        "className": "",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "442e0aa769e1085a"
            ]
        ]
    },
    {
        "id": "442e0aa769e1085a",
        "type": "mqtt out",
        "z": "e040834286276476",
        "name": "",
        "topic": "maquina/velocidad",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aa3107cbb6f29f72",
        "x": 550,
        "y": 620,
        "wires": []
    },
    {
        "id": "2f217a674dd4d6a6",
        "type": "ui_chart",
        "z": "e040834286276476",
        "name": "",
        "group": "f26ebb647f29f369",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cd80e2ac23e7f986",
        "type": "debug",
        "z": "e040834286276476",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 90,
        "y": 340,
        "wires": []
    },
    {
        "id": "16bcc8dc0a672443",
        "type": "http request",
        "z": "e040834286276476",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSceAGG4UzWKCBbldSxaeiRl17xS9XeMRzmU_2rwk5h2VSEIZA/formResponse?usp=pp_url&entry.1536243230={{payload.Carga}}&entry.1686295508={{payload.Velocidad}}&entry.1317593433={{payload.No_vueltas}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 930,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f9f61a0bb267204c",
        "type": "function",
        "z": "e040834286276476",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "aa3107cbb6f29f72",
        "type": "mqtt-broker",
        "name": "",
        "broker": "187.146.108.31",
        "port": "1883",
        "clientid": "mimaquinavirtual",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "476e07a119656590",
        "type": "ui_group",
        "name": "Datos de la Prueba",
        "tab": "1bb52e0e8b545740",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25ebfaf0e4d26aa0",
        "type": "ui_group",
        "name": "c920",
        "tab": "1bb52e0e8b545740",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5985bd1225719007",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "maquina_fatiga",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "a78c5e5e553c4417",
        "type": "ui_group",
        "name": "Control de la prueba",
        "tab": "1bb52e0e8b545740",
        "order": 3,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f26ebb647f29f369",
        "type": "ui_group",
        "name": "Gráfica de Velocidad y Carga",
        "tab": "1bb52e0e8b545740",
        "order": 5,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1bb52e0e8b545740",
        "type": "ui_tab",
        "name": "Máquina de fatiga",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]